# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.pro.user

build-*
*.config
*.creator
*.creator.user
*.files
*.includes

*.swp

aclocal.m4
compile
config.log
config.status
configure
depcomp
install-sh
missing
output.*
*.Po
Makefile
Makefile.in
requests
traces.*
.deps/
.dirstamp

output/
build/
