[Desktop Entry]
Name=Kinesix
GenericName=Touchpad Gestures
Comment=None
Categories=Utility;
Exec=com.github.kicsyromy.kinesix
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Kinesix;Touchpad;Configuration;Tweaks
